<div class="flex flex-col items-center justify-center px-4 py-[6vw]">
    <img class="w-full md:w-1/3" src="/assets/img/404.png" alt="">
    <h1 class="text-9xl/20 md:text-[160px]/24 font-bold text-gray-800">404</h1>
    <span class="text-3xl md:text-5xl-vw text-gray-600 mt-4">Pagina non trovata</span>
    <div class="flex items-center">
        <button 
        [routerLink]="['/']"
        class="ml-2 px-4 py-2 mt-4 bg-custom-blue text-white hover:opacity-80 cursor-pointer shadow-custom rounded-full"
      >TORNA ALLA HOME</button>
  </div>

  